extends base

block vars
   - var title = "Front Page"

block body
   h1 Music App Api
   h2 Explore
   p <a href="/register">Create User</a>
   p <a href="/login">Login</a>
   p <a href="/logout">Logout</a>